<div id="at-cv-lightbox" class="at-cv-lightbox at-cv-goal-email at-center-layout-0 at-cv-with-image at-center-animateIn">
	<div id="at-cv-lightbox-inner">
		<div class="at4win" style="position: relative;" id="at-cv-lightbox-win">
			<div id="image-darkener"></div>
			<div class="at4win-header" id="at-cv-lightbox-header">
				<a class="at4-close" href="#" title="Close" id="at-cv-lightbox-close">×</a>
			</div>

			<div id="at-cv-lightbox-content" class="at4win-content">	<div class="at-cv-lightbox-layout-content">
					<div id="at-cv-lightbox-message-holder">
						<div id="at-cv-lightbox-message">
							<span style="font-size: 28.35px;">
								<span style="font-style: italic; font-size: 28.35px;">
									<span style="font-size: 28.35px; font-style: italic;">
										<span style="font-style: italic; font-size: 28.35px;">
											<span style="font-size: 28.35px; font-style: italic;">Subscribe to TutorialSavvy
											</span>
										</span>
									</span>
								</span>
							</span>
						</div>
					</div>
					<div class="at-cv-goal-container">
						<span>
							<form id="at-cvlbx-form" name="Newsletter" ng-submit="register_newsletter()" novalidate>
								<input
									type="email" 
									name="email"
									id="at-cv-lightbox-input" 
									class="at-cv-input" autocapitalize="off" 
									autocorrect="off" 
									required="required" 
									placeholder="Your email" 
									ng-model="email">
								<button 
									id="at-cv-lightbox-submit" 
									type="submit" 
									class="at-cv-button at-cv-submit" 
									style="background: rgb(102, 102, 102) none repeat scroll 0% 0%;">Submit</button>
							</form>

							<p class="at-email-disclosure" style="display: none;">By clicking the button above, you agree to the information above being sent to AddThis US servers.
								<a target="_blank" href="//www.addthis.com//privacy/privacy-policy#international"> Learn more.</a>
							</p>
						</span>
					</div>
				</div>
			</div>

			<div class="at-cv-footer">
				<a class="at-branding-logo" href="//www.addthis.com/website-tools/overview?utm_source=AddThis%20Tools&amp;utm_medium=image&amp;utm_campaign=Marketing%20tool%20logo" title="Powered by AddThis" target="_blank">
					<div class="at-branding-icon"></div>
					<span class="at-branding-addthis">AddThis</span>
				</a>
			</div>
		</div>
	</div>

	<div class="at-cv-lightbox-background" style="background: rgb(102, 102, 102) none repeat scroll 0% 0%; opacity: 0.8;">
		
	</div>
</div>